#comments {
    overflow: hidden;
}

textarea,input {
    font-family: "NotoSansSC";
}
.textarea {
    width:100%;
    border: 1px solid #bbb;
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 2px;
    padding: 5px;
    line-height: 1.5;
}
.form-item {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.form-item > div {
    width: 32%;
}

.form-item > div > input {
    border: 1px solid #bbb;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    line-height: 30px;
    display: inline-block;
}


.form-submit button{
    font-size: 14px;
    font-family: 'NotoSansSC', sans-serif;
    color: #fff;
    border: none;
    outline: none;
    width: 96px;
    height: 34px;
    border-radius: 4px;
    background: var(--maincolor);
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -ms-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}
.form-submit button:hover {
    cursor: pointer;
    background: var(--maincolor);
    opacity: 0.8;
}


.comment-aite{
    display: none;
}

.pinglun .t-u {
    border: none;   
}

.comment-title{
    background: #fff;
    border: none;
    overflow: hidden;
}

.comment-badge {
    display: inline-block;
    background: var(--maincolor);
    color: #fff;
    margin-left: 6px;
    border-radius: 3px;
    width: 48px;
    text-align: center;
}

.comment-children .comment-title {
    border: none;
}
.comment-children .comment-title strong {
    font-size: 14px;
    display: flex;
    justify-content: space-between;    
    color: #1E9FFF;
}

.comment-children .comment-title strong a {
    color: #1E9FFF;
}

.comment-parent>.pl-dan>.comment-author>.comment-title strong {
    font-size: 14px;
    display: flex;
    justify-content: space-between;    
    color: #1E9FFF;
}
.comment-parent>.pl-dan>.comment-author>.comment-title strong a{
    color: #1E9FFF;
}
.pinglun .t-u .t-g{
    float: none;
    font-weight: 400;
    color: #000;
    font-size: 13px;
    padding: 0;
    color: #686868;
    margin-left: 10px;
}

.comment-parent{
    position: relative;
    width: 99%;
    float: right;
}
.comment-children .pl-dan .t-u{
    margin-left: 10px;
}
.pinglun .t-p{
    position: absolute;
    left: -45px;
    top: 10px;
}
.pinglun .t-u {
    margin-left: 6px;
}

.comment-children .pl-dan{
    margin-top: 0;
}

.pinglun li{
    margin-bottom: 0;
}

.pinglun>.comment-list>li{
    margin-bottom: 30px;
}

.comment-children .pl-dan{
    position: relative;
}
.comment-children .t-p {
    position: absolute;
    z-index: 9;
    margin: 5px;
}
.comment-children .t-p img{
    width: 100%;
    height: 100%;
}
.comment-children .t-s {
    padding-bottom: 0;
}

.pinglun .t-p img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}


.pinglun .t-s {
    margin-top: 10px;
    padding: 14px 10px 1px;
    word-break: break-all;
    position: relative;
    border-radius: 5px;
    font-size: 15px;
    background: #eee;
    color: #333;
}

.pinglun .t-s p {
    margin-top: 0;
    line-height: 22px;
}
.pinglun .t-u .t-btn {
    float: none;
    bottom: 10px;
    right: 0;
}
.comment-title strong p {
    margin-bottom: 0;
}
.pinglun .t-u .t-btn a {
    color: #909090 !important;
    font-weight: 300;
    font-size: 14px;
}
.pinglun .t-u .t-btn a:hover {
    text-decoration: underline;
    color: #444 !important;
}
.pinglun .comment-list {
    overflow: hidden;
}
.form-me {
    margin-bottom: 10px;
}

@media (max-width: 520px){
    .comment-list {
        padding-left: 28px;
    }
    .comment-parent{
        width: 108%;
    }
    .comment-children .comment-title {
        padding-left: 54px;
        min-height: 40px;
    }
    .pinglun .t-p {
        left: 0;
    }
    .pinglun .t-s {
        margin-top: 30px;
    }
    .comment-parent>.pl-dan>.comment-author>.comment-title {
        padding-left: 50px;
    }
    .pinglun .t-u .t-btn {
        display: block;
    }
    .form-item {
        display: block;
    }
    .form-item > div {
        width: 100%;
        margin: 6px 0;
    }
}



