:root {
    --width: 750px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #f6f6f6;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #747474;
}
::-webkit-scrollbar-corner {
    background: #f6f6f6;
}

@font-face {
  font-family: 'NotoSansSC';
  src: url('https://cdn.jsdelivr.net/gh/shuxhan/pic-cdn/NotoSansSC-Regular.otf');
}

body, html {
    height: auto;
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #3b3b3b;
    padding: 0;
    margin: 0;
}
@media (min-width:520px) {
    body,html {
        font-family: 'NotoSansSC', sans-serif;
    }
}

ul,ol {
    list-style: none;
}
a {
    word-break: break-word;
    color: #026ed2;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    -webkit-transition: border 0.2s ease-out,color 0.2s ease-out;
    -moz-transition: border 0.2s ease-out,color 0.2s ease-out;
    -ms-transition: border 0.2s ease-out,color 0.2s ease-out;
    -o-transition: border 0.2s ease-out,color 0.2s ease-out;
    transition: border 0.2s ease-out,color 0.2s ease-out;
}

hr {
    height: 0;
    border: 1px solid #eee;
}
#content_progress {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #00a4ff;
}

#content_progress::-webkit-progress-bar {
    background-color: transparent;
}

#content_progress::-webkit-progress-value {
    background-color: #00a4ff;
}

#content_progress::-moz-progress-bar {
  background-color: #00a4ff;
}

.header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}

.header-wrap {
    max-width: var(--width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.logo {
    position: fixed;
    top: 10px;
    left: 13px;
    font-size: 17px;
    z-index: 200;
    display: block;
    padding: 9px 12px 6px;
    background: #29292a;
    color: #fff;
    -webkit-transition: background 0.6s ease-out;
    -moz-transition: background 0.6s ease-out;
    -ms-transition: background 0.6s ease-out;
    -o-transition: background 0.6s ease-out;
    transition: background 0.6s ease-out;
}

.logo img{
    height: 60px;
}

.logo:hover{
    background: #3287c1;
}

.nav {
    display: flex;
}

.nav li a {
    color: #343434;
    font-size: 14px;
    display: inline-block;
    padding: 2px 4px;
    margin: 0 6px;
}

.nav li .search{
    width: 24px;
    padding-top: 2px;
    margin-left: 10px;
}
.nav li .search:hover {
    cursor: pointer;
}

.active {
    border-bottom: 1px solid #343434;
}

.main {
    max-width: 100%;
    padding-top: 10px;
}

.main ul {
    max-width: var(--width);
    margin: 0 auto;
    padding: 0;
}
.post-title-wrap {
    min-height: 52px;
}

.post-content ul,
.post-content ol{
    padding-left: 26px;
}
.post-content li{
    line-height: 26px;
}

.article-list {
    border-bottom: 1px solid #f1f2f4;
}

.article-list-time {
    color: #bbb;
    font-size: 12px;
}
.article-list-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.article-list-title a:hover {
    color: #3287c1;
}
.article-list-title > a {
    font-size: 18px;
    color: #3b3b3b;
    padding: 10px 0;
    display: inline-block;
}
.article-list-detail {
    margin-top: 0;
    color: #888;
    font-size: 15px;
}

.tags {
    font-size: 13px;
}
.tags a {
    color: #bbb;
}

.page-nav{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}
.page-nav-ul>a{
    display: inline-block;
    width: 30px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    background: #444;
    color: #fff;
}
.page-nav-ul>*{
    margin-right: 10px;
}

.post {
    max-width: var(--width);
    margin: 0 auto;
}
.post-title {
    display: block;
    font-size: 22px;
    color: #000;
    font-weight: bold;
    padding: 10px 0;
    margin-top: 6px;
}
.page-header {
    min-height: 49px;
}
.post-title-logo {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
.iframe{
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.title-msg {
    font-size: 14px;
    color: #999;
    margin-top: 6px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.title-msg a {
    color: #999;
}

.post-content {
    color: #666;
    font-size: 16px;
    position: relative;
}
.post-content h2, .post-content h3 {
    color: #333;
}

.comments {
    margin-bottom: 50px;
}


#theContentIndex {
    position: sticky;
    right: -200px;
    top: 100px;
    width: max-content;
    margin-left: 103%;
    height: 0;
}
#theContentIndex h3 {
    display: inline;
    color: #0e83cd;
    font-size: 15px;
    padding: 0;
    padding-top: 10px;
    border-top: 1px solid #e3e3e3;
}
#theContentIndex li{
    list-style: none;
}
#theContentIndex>ul {
    max-height: 900px !important;
    overflow-y: hidden;
    padding-left: 0;
    padding-top: 20px;
}
#theContentIndex>ul>ul{
    padding-left: 16px;
}
.post-content>p {
    margin: 1em 0;
    line-height: 1.8em;
    word-wrap: break-word;
}
.post-content ul,
.post-content ol {
    list-style: auto;
}
.post-content a:hover {
    text-decoration: underline;
    color: #e77912;
}
.post-content>a>i{
    display: none;
}
.post-content #theContentIndex i{
    display: none;
}
.post-content strong{
    color: #3b3b3b;
}

blockquote {
    font-style: italic;
    color: #bbb;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin: 0;
}

.hidden-xs {
    word-break: break-word;
}

.post img {
    max-width: 100%;
}
.post code {
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;;
    background: #fafafa;
    border: 1px solid #ddd;
    padding: 0px 4px;
    border-radius: 4px;
    color: #dd0055;
}

.post-content .code-toolbar code {
    font-family: inherit;
    border: none;
    background: none;
}
.code-toolbar{
    font-size: 14px;
}

pre.line-numbers {
    padding-left: 2.3rem;
    padding-top: 26px;
    background: #f3f3f3;
}
.line-numbers .line-numbers-rows {
    left: -2.8rem;
    border: none;
}

.line-numbers-rows>span:before {
    background: none;
}
div.code-toolbar > .toolbar {
    opacity: 1;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-top: 2px;
    box-sizing: border-box;
}
div.code-toolbar > .toolbar a, 
div.code-toolbar > .toolbar button, 
div.code-toolbar > .toolbar span {
    background: none;
    box-shadow: none;
    color: #444;
    font-size: 14px;
}

div.code-toolbar > .toolbar a:hover, 
div.code-toolbar > .toolbar a:focus, 
div.code-toolbar > .toolbar button:hover, 
div.code-toolbar > .toolbar button:focus, 
div.code-toolbar > .toolbar span:hover, 
div.code-toolbar > .toolbar span:focus {
    color: #444;
}
div.code-toolbar > .toolbar .toolbar-item:nth-child(2) button:hover{
    cursor: pointer;
}

.ins-search-container {
    z-index: 99999;
}
.ins-search-item>.header {
    background: none !important;
    height: 20px !important;
}

.map {
    max-width: var(--width);
    margin: 0 auto;
}

.copy-text {
    margin: 20px auto;
    border-top: 2px solid #eee;
    padding: 10px;
}
.copy-text summary {
    font-weight: bold;
}
.copy-text summary:hover {
    cursor: pointer;
}

.copy-text ul {
    font-size: 14px;
    color: #666;
    padding: 10px;
    line-height: 24px;
}


.footer {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    padding-bottom: 10px;
}

.tags-content a {
    display: inline-block;
    margin: 4px 10px;
    padding: 2px 6px;
    color: #026ed2;
}
.tags-content a:hover {
    text-decoration: underline;
}

#gotop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
}
#gotop img{
    width: 40px;
}
#gotop:hover {
    cursor: pointer;
}


@media (max-width:518px) {
    .article-list-title {
        display: block;
    }
    .article-list-title>* {
        display: block;
    }
    .main {
    padding: 0 3%;
    }
}
@media (max-width:1268px) {
    #theContentIndex {
        display: none;
    }
}

@media (max-width:956px){
    .header-wrap>div>*{
        display: none;
    }
}

/*网页未加载时执行动画*/
.loading{
    width: 100px;
    height: 100px;
    position: relative;
}
.loading::before,.loading::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background: #000;
    border-radius: 50%;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: toBig 1s linear infinite;
}
.loading::after{
    animation-delay: 0.5s;
}
@keyframes toBig {
    0%{
        width: 0;
        height: 0;
        opacity: 1;
    }
    100%{
        width: 50px;
        height:50px;
        opacity: 0;
    }
}

.site-welcome{
    display: none;
    justify-content:center;
    align-items:center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    z-index: 9999999;
}
.site-welcome.active{
    display:flex;
}
