:root {
    --border: 1px solid #E4E7ED
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: #f3f3f3;
    font-size: 16px;
    color: #606266;
}

a {
    color: #444;
    text-decoration: none;
}

a:hover {
    color: #409eff;
}

ul,
ol {
    padding-left: 14px;
}

/* 头部开始 */
.header {
    width: 100%;
    background: rgb(84, 92, 100);
}

.nav {
    max-width: 1100px;
    margin: 0 auto;
}
.nav > ul {
    border-bottom: none !important;
}

/* 头部结束 */

/* 网站主体开始 */
.container {
    max-width: 1100px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar {
    width: 25%;
}

.sidebar-item {
    background: #fff;
    border: var(--border);
    margin-bottom: 20px;
}

.sidebar-item-title {
    color: #606266;
    line-height: 2.6;
    padding-left: 12px;
    font-weight: 400;
}

.sidebar-item-detail {
    margin-bottom: 20px;
    padding: 0 12px;
    font-size: 15px;
}

.sidebar-item-detail li {
    list-style: none;
}

.sidebar-item-detail li a {
    color: #909399;
    display: block;
    width: 100%;
    line-height: 1.6;
    font-size: 15px;
}

.sidebar-item-detail li:hover a {
    color: #409eff
}


.content {
    background: #fff;
    width: 72%;
    border: var(--border);
    padding-bottom: 80px;
}

.article-item {
    padding: 10px 16px;
    margin-bottom: 10px;
}

.article-item-title {
    font-weight: 400;
    padding: 10px 0;
    font-size: 22px;
}

.article-item-title a {
    display: block;
    width: 100%;
}

.article-item-title a:hover {
    /* color: inherit; */
}

.article-item-detail {
    font-size: 15px;
    line-height: 1.6;
    color: #606266;
}

.article-item-span {
    font-size: 14px;
    margin-top: 6px;
}

.article-item-span span {
    margin-right: 12px;
}
.article-item-span span i{
    margin-right: 4px;
}


.article-pagination {
    margin-top: 20px;
    text-align: center;
}

/* 网站主体结束 */


/* 网站底部开始 */
.footer {
    text-align: center;
    margin-top: 20px;
    padding: 16px 0;
    background: #fff;
    border-top: var(--border);;
}

.footer p {
    line-height: 1.6;
}

/* 网站底部结束 */